<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="CoolRunner_Shipping::menu_labels" title="CoolRunner" translate="title" module="CoolRunner_Shipping" sortOrder="51" resource="CoolRunner_Shipping::shipping" parent="Magento_Sales::sales"/>
        <add id="CoolRunner_Shipping::labels" title="Pakkelabels" translate="title" module="CoolRunner_Shipping" sortOrder="10" action="coolrunner_shipping/labels" resource="CoolRunner_Shipping::shipping" parent="CoolRunner_Shipping::menu_labels"/>
        <add id="CoolRunner_Shipping::menu_rates" title="CoolRunner" translate="title" module="CoolRunner_Shipping" sortOrder="79" resource="CoolRunner_Shipping::shipping" parent="Magento_Backend::stores"/>
        <add id="CoolRunner_Shipping::rates" title="Shipping Rates" translate="title" module="CoolRunner_Shipping" sortOrder="1" action="coolrunner_shipping/rate/index" resource="CoolRunner_Shipping::shipping" parent="CoolRunner_Shipping::menu_rates"/>
        <add id="CoolRunner_Shipping::config" title="Configuration" translate="title" module="CoolRunner_Shipping" sortOrder="10" action="admin/system_config/edit/section/cr_settings" resource="CoolRunner_Shipping::shipping" parent="CoolRunner_Shipping::menu_rates"/>
    </menu>
</config>
