<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * routers
 *
 * @copyright Copyright © 2020 HeadWayIt https://headwayit.com/ All rights reserved.
 * @author  Ilya Kushnir  ilya.kush@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="coolrunner_shipping" frontName="coolrunner_shipping">
            <module name="CoolRunner_Shipping" />
        </route>
    </router>
</config>
